@import "./css_variable";
@import "./scss_global";

.profile-section {
  .section-contents {
    padding-top: 0;
    p,
    span {
      font-size: rem(32px);
      font-weight: var(--weight-regular);
      line-height: 2em;
    }
  }
  @media only screen and (min-width: 1024px) {
    .section-contents {
      padding-top: rem(40px + 80px);
      p,
      span {
        font-size: rem(24px);
      }
    }
  }

  .section-header {
    top: var(--header-height);
  }

  .section-header {
    h2 {
      margin-bottom: rem(32px);
      font-size: rem(48px);
      line-height: 1em;
      font-weight: 700;
      color: var(--section-header-title);
      transition: $trans_color, $trans_form_expo, $trans_opacity_quad;
      transform: translateY(100%);
      opacity: 0;
      transition-delay: 0.24s;
    }
    p {
      font-size: rem(32px);
      line-height: 1.5em;
      color: var(--section-header-desc);
      span {
        word-break: break-all;
        transition: $trans_color, $trans_form_expo, $trans_opacity_quad;
        transform: translateY(100%);
        opacity: 0;
        @for $p_idx from 0 to 6 {
          &:nth-of-type(#{$p_idx + 1}) {
            transition-delay: #{0.24s * $p_idx};
          }
        }
      }
      br {
        display: none;
      }
    }
    @media only screen and (min-width: 1024px) {
      h2 {
        margin-bottom: rem(80px);
        font-size: rem(40px);
      }
      p {
        font-size: rem(64px);
        font-weight: 300;
        br {
          display: inline;
        }
      }
    }
    &.header-in-view {
      h2 {
        @include inView_all();
      }
      p {
        span {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  .career-list {
    .career-item {
      margin-bottom: rem(80px);
    }
    .period {
      margin-bottom: rem(32px);
      color: var(--career-period);
      span {
        background: var(--career-period);
        transition: $trans_bgColor, $trans_opacity;
        opacity: 0;
      }
      time {
        transition: $trans_color, $trans_form_quad, $trans_opacity_quad;
        transform: translateY(100%);
        opacity: 0;
        &:last-child {
          transition-delay: 0.2s;
        }
      }
    }
    h3 {
      margin-bottom: rem(32px);
      strong {
        color: var(--career-role);
        line-height: 1em;
        font: {
          size: rem(40px);
          weight: var(--weight-medium);
        }
        transform: translateY(100%);
        opacity: 0;
        transition: $trans_color, $trans_form_quad, $trans_opacity_quad;
        transition-delay: 0.2s;
      }
      span {
        margin-top: rem(4px);
        color: var(--career-company);
        line-height: 1em;
        font: {
          size: rem(32px);
          weight: var(--weight-regular);
        }
        &:before {
          content: "";
          display: block;
          width: rem(2px);
          height: rem(24px);
          margin: 0 rem(16px) 0 rem(24px);
          background: var(--career-company);
        }
        opacity: 0;
        transition: $trans_color, $trans_opacity;
        transition-delay: 0.3s;
      }
    }
    p {
      color: var(--career-desc);
      line-height: 1.5em;
      transform: translateY(100%);
      opacity: 0;
      transition: $trans_color, $trans_form_quad, $trans_opacity_quad;
      transition-delay: 0.4s;
    }
    @media only screen and (min-width: 1024px) {
      .period {
        margin-bottom: rem(16px);
      }
      h3 {
        margin-bottom: rem(24px);
        strong {
          font-size: rem(32px);
        }
        span {
          font-size: rem(24px);
        }
      }
      p {
        line-height: 1em;
      }
    }
  }

  .experience-list {
    .experience-item {
      margin-bottom: rem(120px);
    }
    dt {
      margin-bottom: rem(16px);
      color: var(--exp-title);
      font: {
        size: rem(56px);
        weight: var(--weight-medium);
      }
      opacity: 0;
      transform: translateY(100%);
      transition: $trans_color, $trans_form_quad, $trans_opacity_quad;
    }
    dd {
      opacity: 0;
      transform: translateY(100%);
      transition: $trans_color, $trans_form_quad, $trans_opacity_quad;
    }
    p,
    span {
      color: var(--exp-desc);
      font-weight: 400;
    }
    .depth-desc {
      &:before {
        content: "";
        display: block;
        width: rem(8px);
        height: rem(8px);
        margin: rem(8px) rem(16px) 0;
        border-radius: 50%;
        background: var(--exp-desc);
      }
    }
    @media only screen and (min-width: 1024px) {
      .experience-item {
        margin-bottom: rem(80px);
      }
      dt {
        margin-bottom: rem(40px);
        font-size: rem(40px);
      }
    }
  }

  .tool-list {
    width: calc(100% + rem(160px));
    margin: 0 rem(-80px);
    padding-bottom: rem(240px);
    li {
      color: var(--tools);
      padding: 0 rem(80px);
      margin-bottom: rem(64px);
      line-height: rem(64px);
      font: {
        size: rem(40px);
        weight: 700;
      }
      opacity: 0;
      transform: translateY(100%);
      transition: $trans_color, $trans_form_quad, $trans_opacity;
    }
    @media only screen and (min-width: 1024px) {
      padding-right: rem(240px);
      padding-bottom: 0;
    }
  }
}

.career-list {
  .in-view {
    .period {
      span {
        opacity: 1;
      }
      time {
        @include inView_all();
      }
    }
    h3 {
      strong {
        @include inView_all();
      }
      span {
        opacity: 1;
      }
    }
    p {
      @include inView_all();
    }
  }
}

.experience-list {
  dt.in-view {
    @include inView_all();
  }
  dd.in-view {
    @include inView_all();
  }
}

.tool-list {
  &.in-view {
    li {
      @include inView_all();
    }
  }
}
