:root {
  // common variable
  --ms-50: 0.05s;
  --ms-100: 0.1s;
  --ms-200: 0.2s;
  --ms-300: 0.2s;
  --ms-400: 0.4s;
  --ms-600: 0.6s;
  --ms-800: 0.8s;
  --ms-1000: 1s;
  --trans-func-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --trans-func-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --trans-func-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --trans-func-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --screen-size-x: 1920px;
  --screen-size-y: 927px;
  --header-height: 208px;
  --trans-time-color: var(--ms-300);
  --trans-time-cursor: var(--ms-400);
  --trans-time-move: var(--ms-800);

  // font weight
  --weight-light: 400;
  --weight-regular: 500;
  --weight-medium: 700;
  --weight-bold: 900;
  --weight-black: 900;

  // scrollbar
  --scroll-thumb: rgba(26, 26, 26, 0.6);

  // cursor
  --cursor: #fff;

  // page background
  --frame-bg: #efefef;
  --page-bg: #fff;

  // page header
  --time-bar: #707070;
  --time-text: #909090;
  --gnb-menu: #bfbfbf;
  --gnb-menu-hover: #5a5a5a;
  --gnb-menu-selected: #3a3a3a;
  --header-icon: #707070;
  --header-icon-bg: #efefef;
  --header-icon-hover: #5a5a5a;
  --header-icon-active: #1a1a1a;
  --theme-icon-active: #ffc700;
  --theme-menu-bg: #efefef;
  --theme-menu-icon: #bfbfbf;
  --theme-menu-icon-selected: #5a5a5a;
  --theme-text: #909090;

  // page visual
  --page-title-border: #a0a0a0;
  --page-title-filled: #3a3a3a;

  // section header
  --section-header-title: #3a3a3a;
  --section-header-desc: #a0a0a0;

  // intro section
  --intro-grad-from: rgb(255, 255, 255);
  --intro-grad-to: rgba(255, 255, 255, 0);
  --intro-title: #909090;
  --intro-emph: #3a3a3a;
  --intro-desc: #909090;

  // page-footer
  --footer-bg: #efefef;
  --footer-page-title-border: #ccc;
  --footer-page-title-filled: #707070;
  --footer-info-title: #707070;
  --footer-btn: #a0a0a0;
  --footer-icon: #707070;
  --footer-btn-hover: #3a3a3a;

  // career
  --career-period: #a0a0a0;
  --career-role: #5a5a5a;
  --career-company: #b0b0b0;
  --career-desc: #a0a0a0;

  // experience
  --exp-title: #5a5a5a;
  --exp-desc: #a0a0a0;

  // tools
  --tools: #ccc;

  // projects
  --proj-border: #ccc;
  --proj-bg-hover: #efefef;
  --proj-title: #5a5a5a;
  --proj-period: #bfbfbf;
  --proj-desc: #707070;
  --proj-hover: #5a5a5a;

  &.dark-theme {
    // font weight
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-black: 900;

    // cursor
    --cursor: #fff;

    // scrollbar
    --scroll-thumb: rgba(90, 90, 90, 0.6);

    // page background
    --frame-bg: #141414;
    --page-bg: #1a1a1a;

    // page header
    --time-bar: #909090;
    --time-text: #909090;
    --gnb-menu: #5a5a5a;
    --gnb-menu-hover: #fff;
    --gnb-menu-selected: #ccc;
    --header-icon: #707070;
    --header-icon-bg: #3a3a3a;
    --header-icon-hover: #ccc;
    --header-icon-active: #fff;
    --theme-icon-active: #ffd12d;
    --theme-menu-bg: #5a5a5a;
    --theme-menu-icon: #909090;
    --theme-menu-icon-selected: #fff;
    --theme-text: #909090;

    // page visual
    --page-title-border: #a0a0a0;
    --page-title-filled: #ccc;

    // section
    --section-header-title: white;
    --section-header-desc: #707070;

    // intro section
    --intro-grad-from: rgb(26, 26, 26);
    --intro-grad-to: rgba(26, 26, 26, 0);
    --intro-title: #a0a0a0;
    --intro-emph: white;
    --intro-desc: #ccc;

    // page-footer
    --footer-bg: #252525;
    --footer-page-title-border: #707070;
    --footer-page-title-filled: #707070;
    --footer-info-title: #ccc;
    --footer-btn: #a0a0a0;
    --footer-icon: #ccc;
    --footer-btn-hover: #fff;

    // career
    --career-period: #909090;
    --career-role: #efefef;
    --career-company: #707070;
    --career-desc: #a0a0a0;

    // experience
    --exp-title: #fff;
    --exp-desc: #a0a0a0;

    // tools
    --tools: #707070;

    // projects
    --proj-border: #3a3a3a;
    --proj-bg-hover: #242424;
    --proj-title: #5a5a5a;
    --proj-period: #5a5a5a;
    --proj-desc: #707070;
    --proj-hover: #fff;
  }
}
