:root {
  // common variable
  --screen-size-x: 1920px;
  --screen-size-y: 927px;
  --header-height: 208px;

  // font weight
  --weight-light: 400;
  --weight-regular: 500;
  --weight-medium: 700;
  --weight-bold: 900;
  --weight-black: 900;

  // scrollbar
  --scroll-thumb: rgba(26, 26, 26, 0.6);

  // cursor
  --cursor: #fff;

  // page bcakground
  --frame-bg: #efefef;
  --page-bg: #fff;

  // page header
  --time-bar: #707070;
  --time-text: #909090;
  --gnb-menu: #909090;
  --gnb-menu-hover: #5a5a5a;
  --gnb-menu-selected: #3a3a3a;
  --header-icon: #707070;
  --header-icon-bg: #efefef;
  --header-icon-hover: #5a5a5a;
  --header-icon-active: #1a1a1a;
  --theme-icon-active: #ffc700;
  --theme-menu-bg: #5a5a5a;
  --theme-menu-icon: #ccc;
  --theme-menu-icon-selected: #707070;
  --theme-text: #909090;

  // page visual
  --page-title-border: #a0a0a0;
  --page-title-filled: #3a3a3a;

  // section header
  --section-header-title: #3a3a3a;
  --section-header-desc: #a0a0a0;

  // intro section
  --intro-grad-from: rgb(255, 255, 255);
  --intro-grad-to: rgba(255, 255, 255, 0);
  --intro-title: #909090;
  --intro-emph: #3a3a3a;
  --intro-desc: #909090;

  // page-footer
  --footer-bg: #efefef;
  --footer-page-title-border: #ccc;
  --footer-page-title-filled: #707070;
  --footer-info-title: #707070;
  --footer-btn: #a0a0a0;
  --footer-icon: #707070;
  --footer-btn-hover: #3a3a3a;

  &.dark-theme {
    // font weight
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-black: 900;

    // cursor
    --cursor: #fff;

    // scrollbar
    --scroll-thumb: rgba(63, 63, 63, 0.6);

    // page bcakground
    --frame-bg: #141414;
    --page-bg: #1a1a1a;

    // page header
    --time-bar: #909090;
    --time-text: #909090;
    --gnb-menu: #5a5a5a;
    --gnb-menu-hover: #fff;
    --gnb-menu-selected: #ccc;
    --header-icon: #707070;
    --header-icon-bg: #3a3a3a;
    --header-icon-hover: #ccc;
    --header-icon-active: #fff;
    --theme-icon-active: #ffd12d;
    --theme-menu-bg: #5a5a5a;
    --theme-menu-icon: #909090;
    --theme-menu-icon-selected: #fff;
    --theme-text: #909090;

    // page visual
    --page-title-border: #a0a0a0;
    --page-title-filled: #ccc;

    // section
    --section-header-title: white;
    --section-header-desc: #707070;

    // intro section
    --intro-grad-from: rgb(26, 26, 26);
    --intro-grad-to: rgba(26, 26, 26, 0);
    --intro-title: #a0a0a0;
    --intro-emph: white;
    --intro-desc: #ccc;

    // page-footer
    --footer-bg: #252525;
    --footer-page-title-border: #707070;
    --footer-page-title-filled: #707070;
    --footer-info-title: #ccc;
    --footer-btn: #a0a0a0;
    --footer-icon: #ccc;
    --footer-btn-hover: #fff;
  }
}
