@import "./css_variable";
@import "./scss_global";

* {
  font-family: "Noto Sans KR";
}

html {
  width: 100%;
  font-size: 1vw;

  // @media only screen and (max-width: 1920px) {
  //   font-size: 19.2px;
  // }

  @media only screen and (max-width: 1024px) {
    font-size: 2vw;
  }

  @media only screen and (max-width: 460px) {
    font-size: 10px;
  }
}

body {
  width: 100%;
  min-height: 100%;
  background: var(--bg-color-0);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  transition: color 0.3s;
}

path,
rect,
circle {
  transition: fill 0.3s;
}

.side-padding {
  padding: 0 rem(80px);
}

.around-padding {
  padding: 0 rem(80px);
}

.page-title-border-text {
  font: {
    weight: 400;
    family: "Noto Serif KR";
  }

  color: transparent;
}

.page-title-filled-text {
  font-weight: 700;
}

.page-visual {
  height: calc(100vh - var(--header-height));

  .page-title-text {
    font: {
      size: rem(240px);
    }

    line-height: rem(240px);
  }

  .page-title-border-text {
    -webkit-text-stroke: 1px var(--page-title-border);
  }

  .page-title-filled-text {
    color: var(--page-title-filled);
  }
}

.page-section {
  padding-top: rem(240px);
  padding-bottom: rem(240px);
}
