@import "./css_variable";
@import "./scss_global";

* {
  font-family: "Noto Sans KR";
}

html {
  width: 100%;
  font-size: 1vw;

  // @media only screen and (max-width: 1920px) {
  //   font-size: 19.2px;
  // }

  @media only screen and (max-width: 1024px) {
    font-size: 2vw;
  }

  @media only screen and (max-width: 460px) {
    font-size: 10px;
  }
}

body {
  width: 100%;
  min-height: 100%;
  background-color: var(--frame-bg);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  transition: color 0.3s;
}

path,
rect,
circle {
  transition: fill 0.3s;
}

.page-bg {
  background: var(--page-bg);
  transition: background-color 0.3s;
}

.side-padding {
  padding: 0 rem(80px);
}

.around-padding {
  padding: 0 rem(80px);
}

.page-title-border-text {
  font: {
    weight: 400;
    family: "Noto Serif KR";
  }

  color: transparent;
}

.page-title-filled-text {
  font-weight: 700;
}

.page-contents-container {
  margin-top: -var(--header-height);
}

.page-section {
  padding-top: rem(240px);
  padding-bottom: rem(240px);
  background-color: var(--page-bg);
  position: relative;
  z-index: 100;
  &.intro-section {
    background: rgb(26, 26, 26);
    background: linear-gradient(
      0deg,
      rgba(26, 26, 26, 1) 0%,
      rgba(26, 26, 26, 0) 80%
    );
  }
}
