@import "./css_variable";
@import "./scss_global";

.intro-section {
  padding-bottom: 0;

  .section-contents {
    @include sidePadding();
    padding-top: 20vh;
  }
  @media only screen and (min-width: 1024px) {
    padding-bottom: rem(240px);
    .section-contents {
      // padding: 0;
    }
  }

  h2 {
    margin-bottom: rem(160px);
    font-weight: 300;
    font-size: rem(56px);
    line-height: rem(73px);
    color: var(--intro-title);
    strong {
      font-weight: 500;
      color: var(--intro-emph);
    }
    .intro-title {
      transform: translateY(100%);
      opacity: 0;
      transition: $trans_form_quad, $trans_opacity_quad;
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
    }
  }
  p {
    font-size: rem(40px);
    line-height: rem(64px);
    font-weight: 400;
    color: var(--intro-desc);
    br {
      display: none;
    }
    span {
      display: inline-block;
      transform: translateY(50%);
      opacity: 0;
      transition: $trans_form_quad, $trans_opacity_quad;
      // transition-duration: 0.4s;
      @for $p_idx from 0 to 6 {
        &:nth-child(#{$p_idx + 2}) {
          transition-delay: #{0.2s * $p_idx};
        }
      }
    }
  }
  .in-view {
    .intro-title,
    span {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media only screen and (min-width: 640px) {
    h2 {
      font-size: rem(48px);
      line-height: rem(64px);
    }
    p {
      font-size: rem(24px);
      line-height: rem(40px);
      br {
        display: inline;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: rem(64px);
      line-height: rem(80px);
    }
    p {
      font-size: rem(32px);
      line-height: rem(56px);
    }
  }
}

.page-visual {
  height: 50vh;
  --title-size: #{rem(144px)};

  @media only screen and (min-width: 1024px) {
    height: 100vh;
    --title-size: #{rem(240px)};
  }

  .page-title {
    @media only screen and (min-width: 1024px) {
      margin-bottom: var(--title-size);
    }
  }

  .page-title-text {
    font-size: var(--title-size);
    line-height: var(--title-size);
    span {
      transition: $trans_form_quart, $trans_opacity_quart;
      // transition: $trans_form_quad, $trans_opacity_quad;
      transform: translateY(50%);
      opacity: 0;
      &.loaded {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .page-title-border-text {
    -webkit-text-stroke: 1px var(--page-title-border);
    span {
      transition-delay: 0s;
    }
  }

  .page-title-filled-text {
    color: var(--page-title-filled);
    span {
      transition-delay: 0.08s;
      &.loaded {
        transition-delay: 0.32s;
      }
    }
  }
}
