@import "./css_variable";
@import "./scss_global";

.trans-cover-container {
  z-index: 99999;
  $targetSize: rem(160px);
  .trans-target {
    height: #{$targetSize * 1.4};
    color: var(--trans-target);
    // letter-spacing: -0.1em;
    letter-spacing: 0.1em;
    font: {
      size: $targetSize;
      weight: 400;
      family: "Noto Serif KR";
    }
    span {
      line-height: $targetSize;
      top: 100%;
      left: rem(80px);
      transition: none;
    }
  }
  .trans-cover {
    height: 0;
    top: 0;
    background: var(--trans-cover-bg);
    transition: height 1s var(--trans-func-expo);
  }
  &.page-out {
    .trans-cover {
      top: auto;
      bottom: 0;
      height: 100%;
      transition-delay: 0;
    }
    .trans-target {
      span {
        top: 0;
        transition: top 0.8s var(--trans-func-expo);
        transition-delay: 0.2s;
      }
    }
  }
  &.page-in {
    .trans-cover {
      transition-delay: 0.2s;
    }
    .trans-target {
      span {
        top: 100%;
        transition: none;
        animation: slidePageIn 0.8s var(--trans-func-expo);
      }
    }
  }
  @keyframes slidePageIn {
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }
}
