@import "./css_variable";
@import "./scss_global";

.transition-wrapper {
  // overflow: hidden;
}
.transition-container {
}

// 기존 페이지
.page-exit {
  position: absolute;
  transition: opacity 1s;
}
.page-exit-active {
  opacity: 0;
}
.page-exit-done {
}

// 이동된 페이지
.page-enter {
}
.page-enter-active {
}
.page-enter-done {
}
