@import "./css_variable";
@import "./scss_global";

.page-visual {
  height: 40vh;
  @media only screen and (min-width: 1024px) {
    height: 100%;
  }
  --title-size: #{rem(144px)};

  @media only screen and (min-width: 1024px) {
    --title-size: #{rem(240px)};
  }
  .page-title {
    pointer-events: none;
    @media only screen and (min-width: 1024px) {
      margin-bottom: rem(160px);
    }
  }

  .page-title-text {
    font-size: var(--title-size);
    line-height: var(--title-size);
  }

  .page-title-border-text {
    -webkit-text-stroke: 1px var(--page-title-border);
  }

  .page-title-filled-text {
    color: var(--page-title-filled);
  }
}
