@import "./css_variable";
@import "./scss_global";

@mixin ftTitleSize($font, $margin) {
  .page-footer {
    .page-title-text {
      font-size: rem($font);
    }
  }
  .footer-header {
    margin-bottom: rem($margin);
  }
}
@mixin ftTextMargin($mb, $lh) {
  dt {
    margin-bottom: rem($mb);
  }
  dd {
    line-height: rem($lh);
  }
}

@mixin ftTextSize($px) {
  $font: rem($px);
  $icon: rem(calc($px * 2 / 3));
  font-size: $font;
  figure {
    width: $icon;
    height: $icon;
  }
}

@mixin ftResponsive($size) {
  .footer-contents {
    @include ftTextMargin($size, #{calc($size * 5 / 3)});
    .footer-experience {
      @include ftTextSize($size);
    }
    .footer-info {
      @include ftTextSize($size);
      .footer-btn {
        height: rem($size * 2);
      }
    }
  }
}

.page-footer {
  z-index: 600;
  background: var(--footer-bg);
  figure {
    font-size: 0;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .footer-card {
    padding: rem(80px);
  }
  .page-title-text {
    line-height: 1em;
  }
  .page-title-border-text {
    -webkit-text-stroke: 1px var(--footer-page-title-border);
  }
  .page-title-filled-text {
    color: var(--footer-page-title-filled);
  }
}

.footer-header {
  transition: transform 0.2s ease-out;
}

.footer-contents {
  border-top: 1px solid var(--footer-border);
  padding-top: rem(80px);
  padding-bottom: rem(160px);
  letter-spacing: 0;
  dt {
    font-family: "Noto Serif KR";
    font-weight: var(--weight-medium);
    line-height: 1em;
    letter-spacing: 0;
  }
  span {
    line-height: 100%;
  }
}

.footer-experience {
  margin-bottom: rem(160px);
  color: var(--footer-desc);
  dd {
    font-weight: var(--weight-light);
    letter-spacing: 0;
  }
}

.footer-info {
  dt {
    color: var(--footer-info-title);
    font-weight: var(--weight-bold);
  }
  .footer-btn {
    font-weight: var(--weight-regular);
    color: var(--footer-btn);
    span {
      margin-right: rem(10px);
      margin-top: rem(-4px);
    }
    @include svgColor(var(--footer-icon));
    &.hover {
      color: var(--footer-btn-hover);
      @include svgColor(var(--footer-btn-hover));
    }
  }
}
@include ftTitleSize(160px, 80px);
@include ftResponsive(32px);

@media only screen and (min-width: 768px) {
  @include ftResponsive(24px);
  .footer-contents {
    padding-bottom: 0;
    .footer-experience {
      margin-bottom: rem(80px);
    }
  }
}
@media only screen and (min-width: 960px) {
  @include ftTitleSize(114px, 80px);
}
@media only screen and (min-width: 1280px) {
  @include ftTitleSize(240px, 160px);
  @include ftResponsive(24px);
  .footer-contents {
    .footer-experience {
      margin-bottom: 0;
    }
  }
}
