@import "./css_variable";
@import "./scss_global";

.page-visual {
  height: 100vh;
  // height: calc(100vh - var(--header-height));

  .page-title-text {
    font: {
      size: rem(240px);
    }

    line-height: rem(240px);
  }

  .page-title-border-text {
    -webkit-text-stroke: 1px var(--page-title-border);
  }

  .page-title-filled-text {
    color: var(--page-title-filled);
  }
}
