@import "./css_variable";
@import "./scss_global";

.page-header {
  padding: rem(80px);
  font-size: rem(20px);
  z-index: 1100;
  pointer-events: none;
  // @media only screen and (min-width: 1024px) {
  transform: translate(0, var(--header-sticky-pos));
  // }
}

.current-time {
  border-top: rem(4px) solid var(--time-bar);
  border-bottom: rem(4px) solid transparent;
  padding: 0 rem(40px) 0 rem(2px);

  time {
    font-weight: var(--weight-medium);
    color: var(--time-text);
  }
}

.gnb {
  .gnb-btn {
    margin: 0 rem(20px);
    color: var(--gnb-menu);
    font-weight: var(--weight-medium);
    transition: $trans_color;
    pointer-events: auto;
    touch-action: manipulation;
    &.on {
      color: var(--gnb-menu-selected);
    }
    &.hover {
      color: var(--gnb-menu-hover);
    }
  }
}

.util-item {
  margin-left: rem(24px);
  pointer-events: auto;
}

.util-btn {
  width: rem(48px);
  height: rem(48px);
  border-radius: rem(8px);
  transition: background-color var(--trans-time-color);

  .header-icon {
    @include svgColor(var(--header-icon));
  }

  &.hover {
    background: var(--header-icon-bg);

    .header-icon {
      @include svgColor(var(--header-icon-hover));
    }
  }

  &:active {
    .header-icon {
      @include svgColor(var(--header-icon-active));
    }
  }

  &.theme-btn {
    &:active {
      .header-icon {
        @include svgColor(var(--theme-icon-active));
      }
    }
  }
}

.util-icon {
  width: rem(24px);
  height: rem(24px);

  svg {
    width: 100%;
    max-width: rem(24px);
    height: 100%;
    max-height: rem(24px);
    object-fit: contain;
  }
}

.theme-list {
  display: none;
  // width: rem(120px);
  padding: rem(8px);
  border-radius: rem(8px);
  background: var(--theme-menu-bg);
  transform: translateY(rem(10px));

  .util-icon {
    width: rem(48px);
    height: rem(48px);
  }

  span {
    font: {
      size: rem(16px);
      weight: 500;
    }
    letter-spacing: 0;
    line-height: rem(16px);
    color: var(--theme-text);
  }
}

.theme-menu {
  @mixin selected_theme {
    @include svgColor(var(--theme-menu-icon-selected));

    span {
      color: var(--theme-menu-icon-selected);
    }
  }
  .theme-item {
    width: rem(120px);
    .util-icon {
      @include svgColor(var(--theme-menu-icon));
    }

    span {
      color: var(--theme-menu-icon);
    }

    &.hover {
      .util-icon {
        @include svgColor(var(--theme-menu-icon-selected));
      }

      span {
        color: var(--theme-menu-icon-selected);
      }
    }
  }
  &[toggle="on"] {
    .theme-list {
      display: block;
    }
  }

  // dark
  &[theme="dark"] {
    .util-btn .light-icon {
      display: none;
    }

    &[system="on"] {
      .theme-item {
        &[item-theme="system"] {
          @include selected_theme();
        }
      }
    }

    &[system="off"] {
      .theme-item {
        &[item-theme="dark"] {
          @include selected_theme();
        }
      }
    }
  }

  // light
  &[theme="light"] {
    .util-btn .dark-icon {
      display: none;
    }

    &[system="on"] {
      .theme-item {
        &[item-theme="system"] {
          @include selected_theme();
        }
      }
    }

    &[system="off"] {
      .theme-item {
        &[item-theme="light"] {
          @include selected_theme();
        }
      }
    }
  }
}
