@import "./css_variable";
@import "./scss_global";

$sectionTitleSize: rem(40px);
$sectionTitleMargin: rem(80px);
$descSize: 24px;
$descLine: 2em;

.profile-section {
  .section-contents {
    padding-top: #{$sectionTitleSize + $sectionTitleMargin};
    p,
    span {
      font-size: rem($descSize);
      font-weight: var(--weight-regular);
      line-height: $descLine;
    }
  }
}

.section-header {
  top: var(--header-height);
}

.section-header {
  h2 {
    margin-bottom: $sectionTitleMargin;
    font-size: $sectionTitleSize;
    line-height: 1em;
    font-weight: 700;
    color: var(--section-header-title);
  }
  p {
    font-size: rem(48px);
    line-height: 1.75em;
    font-weight: 300;
    color: var(--section-header-desc);
  }
  @media only screen and (min-width: 1024px) {
    p {
      font-size: rem(64px);
      line-height: rem(80px);
    }
  }
}

.career-list {
  .career-item {
    margin-bottom: rem(80px);
  }
  .period {
    margin-bottom: rem(24px);
    color: var(--career-period);
    span {
      background: var(--career-period);
    }
  }
  h3 {
    margin-bottom: rem(24px);
    strong {
      color: var(--career-role);
      line-height: rem(32px);
      font: {
        size: rem(32px);
        weight: var(--weight-medium);
      }
    }
    span {
      color: var(--career-company);
      line-height: rem(24px);
      font: {
        size: rem(24px);
        weight: var(--weight-regular);
      }
      &:before {
        content: "";
        display: block;
        width: rem(2px);
        height: rem(24px);
        margin: 0 rem(16px) 0 rem(24px);
        background: var(--career-company);
      }
    }
  }
  p {
    color: var(--career-desc);
    line-height: 1em;
  }
}

.experience-list {
  .experience-item {
    margin-bottom: rem(80px);
  }
  dt {
    margin-bottom: rem(40px);
    color: var(--exp-title);
    font: {
      size: rem(40px);
      weight: var(--weight-medium);
    }
  }
  p,
  span {
    color: var(--exp-desc);
  }
  .depth-desc {
    &:before {
      content: "";
      display: block;
      width: rem(8px);
      height: rem(8px);
      margin: rem(8px) rem(16px) 0;
      border-radius: 50%;
      background: var(--exp-desc);
    }
  }
}

.tool-list {
  width: calc(100% + rem(160px));
  margin: 0 rem(-80px);
  li {
    color: var(--tools);
    padding: 0 rem(80px);
    margin-bottom: rem(64px);
    line-height: rem(64px);
    font: {
      size: rem(40px);
      weight: 700;
    }
  }
  @media only screen and (min-width: 1024px) {
    padding-right: rem(240px);
  }
}
