@import "./css_variable";
@import "./scss_global";

@mixin gradBG {
  background-color: var(--details-bg);
}

.project-details-container {
  z-index: 1000;
  height: calc(100% - var(--header-height));
  transition: $trans_form_expo;
  transform: translate(0, 100%);
  border-top-left-radius: rem(24px);
  border-top-right-radius: rem(24px);
  overflow: hidden;
}

.project-details {
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  @include gradBG();
  @media only screen and (min-width: 1024px) {
    background: none;
  }
}

.details-section {
  &:not(.details-intro) {
    & > * {
      position: relative;
      z-index: 10;
    }
  }
  @media only screen and (min-width: 1024px) {
    background-color: var(--details-bg);
  }
}

.details-intro {
  padding-top: var(--header-height);
  padding-bottom: rem(160px);

  @mixin categoryFont {
    line-height: rem(24px);
    font: {
      size: rem(24px);
      weight: var(--weight-medium);
    }
  }
  .details-header {
    top: rem(80px);
    height: rem(48px);
    color: var(--details-main-title);
    z-index: 100;

    &.fix-header-title {
      .page-category {
        span {
          opacity: 1;
        }
      }
      .details-title-container {
        position: static;
        transform: none !important;
      }
      .details-title {
        width: auto;
        @include categoryFont();
        span {
          display: inline;
          margin-right: rem(8px);
        }
      }
      .details-subtitle {
        display: none;
      }
    }
  }
  .page-category {
    @include categoryFont();
    span {
      margin: 0 rem(16px);
    }
  }

  @mixin fadeInTitle($direction) {
    span {
      display: block;
      transition-duration: 0.8s;
      @if ($direction == "up" or $direction == "down") {
        transition: $trans_color, $trans_form_quad, $trans_opacity_quad;
        // transition: $trans_form_quart, $trans_opacity_quart;
      } @else if ($direction == "left" or $direction == "right") {
        transition: $trans_color, $trans_form_expo, $trans_opacity_expo;
      }
      @for $ti from 1 to 3 {
        &:nth-child(#{$ti + 1}) {
          transition-delay: 0.24s * $ti;
        }
      }
    }
    &.closed {
      span {
        opacity: 0;
        @if ($direction == "up") {
          transform: translateY(50%);
        } @else if ($direction == "down") {
          transform: translateY(-50%);
        } @else if ($direction == "left") {
          transform: translateX(50%);
        } @else if ($direction == "right") {
          transform: translateX(-50%);
        }
      }
    }
  }
  .details-title {
    line-height: 100%;
    color: var(--details-main-title);
    @include fadeInTitle("up");
  }
  .details-subtitle {
    margin-top: rem(40px);
    color: var(--details-sub-title);
    @include fadeInTitle("up");
  }
  .details-title-container {
    .details-title {
      @include categoryFont();
      display: flex;
      span {
        margin-right: rem(8px);
      }
    }
    .details-subtitle {
      display: none;
      line-height: rem(48px);
      font: {
        size: rem(32px);
        weight: var(--weight-regular);
      }
    }
  }

  .details-title-mobile-container {
    z-index: 10;
    padding-top: rem(240px);
    padding-bottom: rem(80px);
    .details-title {
      font: {
        size: rem(80px);
        weight: var(--weight-bold);
      }
    }
    .details-subtitle {
      line-height: rem(64px);
      font: {
        size: rem(40px);
        weight: var(--weight-regular);
      }
    }
  }

  .details-btn-list {
    z-index: 10;
    li {
      margin: rem(40px) rem(40px) 0 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    height: calc(var(--screen-size-y) - var(--header-height));
    padding-top: 0;
    padding-bottom: rem(80px);
    position: static;

    @include gradBG();
    .page-category {
      span {
        opacity: 0;
        transition: $trans_color, $trans_opacity;
      }
    }
    .details-title-container {
      top: 0;
      left: rem(80px);
      transform: translate(
        0,
        calc(var(--screen-size-y) - var(--header-height) - rem(80px) * 2 - 100%)
      );
      .details-title {
        display: block;
        line-height: 100%;
        font: {
          size: rem(160px);
          weight: var(--weight-bold);
        }
      }
      .details-subtitle {
        display: block;
      }
    }

    .details-btn-list {
      li {
        margin: 0 0 0 rem(24px);
      }
    }
  }
}

.details-intro-bg {
  height: 100%;
  z-index: 0;
  img {
    filter: blur(4px);
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--page-bg);
    background: var(--details-visual-grad);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  @media only screen and (min-width: 1024px) {
    height: 100%;
    &:after {
      opacity: 0.8;
    }
  }
}

.details-info {
  font-size: 0;
  .details-summary {
    padding-right: 0;
  }
  .details-introduce {
    padding-left: 0;
    .details-info-item {
      height: auto;
      margin-bottom: rem(240px);
    }
    dd {
      padding-left: rem(16px);
      text-indent: rem(-16px);
      word-break: keep-all;
      &:before {
        content: "\00B7";
        margin-right: rem(8px);
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .details-summary {
      padding-right: rem(240px);
    }
    .details-introduce {
      padding-left: rem(240px);
    }
  }

  .tech-stacks {
    width: calc(100% + rem(8px));
    margin: 0 rem(-4px);
  }
  .tech-stacks-item {
    height: rem(64px);
    margin: 0 rem(8px) rem(16px);
    padding: 0 rem(32px);
    border-radius: rem(32px);
    border: 1px solid var(--details-stack-border);
    background: var(--details-stack-bg);
    img {
      width: rem(32px);
      height: rem(32px);
      margin-right: rem(16px);
    }
    figcaption {
      font-size: rem(32px);
      font-weight: 400;
      line-height: 1em;
      letter-spacing: 0;
      color: var(--details-stack-text);
    }
  }
  @media only screen and (min-width: 1024px) {
    .tech-stacks-item {
      height: rem(48px);
      margin: 0 rem(4px) rem(8px);
      padding: 0 rem(16px);
      border-radius: rem(24px);
      img {
        width: rem(24px);
        height: rem(24px);
        margin-right: rem(8px);
      }
      figcaption {
        font-size: rem(16px);
        font-weight: var(--weight-medium);
      }
    }
  }

  .details-info-item {
    margin-bottom: rem(240px);
    display: inline-block;
    vertical-align: top;
  }
  @media only screen and (min-width: 1024px) {
    .details-info-item {
      margin-bottom: 0;
      height: rem(320px);
    }
  }

  dt {
    margin-bottom: rem(40px);
    color: var(--details-item-title);
    line-height: 1em;
    font: {
      size: rem(32px);
      weight: var(--weight-medium);
    }
  }
  dd {
    color: var(--details-desc);
    line-height: 2em;
    font: {
      size: rem(32px);
      weight: 500;
    }
  }
  @media only screen and (min-width: 1024px) {
    dt {
      margin-bottom: rem(40px);
      font-size: rem(24px);
    }
    dd {
      font-size: rem(24px);
    }
  }

  .period {
    display: block;
    span {
      display: block;
      margin: rem(16px) 0;
      background: var(--details-desc);
    }
  }
  @media only screen and (min-width: 1024px) {
    .period {
      display: flex;
      span {
        margin: 0 rem(16px);
      }
    }
  }
}

.details-media {
  .media-contents {
    padding-bottom: rem(240px);
  }
  .media-info {
    padding: 0 rem(160px);
  }
  .projects-media {
    opacity: 0;
    transform: translateY(100%);
    transition: $trans_opacity_quad;
    transition-delay: 0.2s;
  }
  h4 {
    margin-top: rem(80px);
    line-height: 1em;
    color: var(--details-caption-title);
    font: {
      size: rem(40px);
      weight: var(--weight-medium);
    }
    opacity: 0;
    transform: translateY(100%);
    transition: $trans_color, $trans_form_expo, $trans_opacity_expo;
    transition-delay: 0s, 0.4s, 0.4s;
  }
  p {
    margin-top: rem(32px);
    line-height: 1.5em;
    color: var(--details-caption-desc);
    font: {
      size: rem(32px);
      weight: var(--weight-regular);
    }
    opacity: 0;
    transform: translateY(100%);
    transition: $trans_color, $trans_form_expo, $trans_opacity_expo;
    transition-delay: 0s, 0.6s, 0.6s;
  }
  .in-view {
    .projects-media,
    h4,
    p {
      @include inView_all();
    }
  }
  @media only screen and (min-width: 1024px) {
    .media-info {
      padding: 0 rem(80px);
    }
    h4 {
      margin-top: rem(120px);
      font-size: rem(32px);
    }
    p {
      margin-top: rem(32px);
      font-size: rem(24px);
    }
  }
}
