@import "./css_variable";
@import "./scss_global";

.project-list {
  border-top: 1px solid var(--proj-border);
}
.project-item {
  border-bottom: 1px solid var(--proj-border);
  user-select: none;

  .summary {
    color: var(--proj-desc);
    .wrapper {
      width: 100%;
      padding: rem(80px);
      @media only screen and (min-width: 1024px) {
        width: rem(1440px);
      }
    }
  }
  .period-container {
    transform: translateX(0);
    @media only screen and (min-width: 1024px) {
      transform: translateX(rem(80px));
    }
  }
  .period {
    margin-bottom: rem(24px);
    white-space: nowrap;
    color: var(--proj-period);
    font: {
      size: rem(24px);
      weight: var(--weight-medium);
    }
    time {
      transition: $trans_color, $trans_opacity_quart, $trans_form_quart;
    }
    span {
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: var(--proj-period);
        transition: $trans_bgColor, $trans_opacity_quart,
          width var(--trans-time-move) 0s var(--trans-func-quart);
      }
    }
    @media only screen and (min-width: 1024px) {
      margin-bottom: 0;
    }
  }
  .summary-title {
    margin-bottom: rem(24px);
    line-height: rem(96px);
    color: var(--proj-title);
    font: {
      size: rem(96px);
      weight: 700;
    }
    transition: $trans_color, $trans_opacity_quart, $trans_form_quart;
    @media only screen and (max-width: 640px) {
      font-size: rem(56px);
      line-height: rem(56px);
    }
  }
  p {
    margin-bottom: rem(48px);
    line-height: rem(48px);
    font: {
      size: rem(32px);
      weight: var(--weight-regular);
    }
    transition: $trans_color, $trans_opacity_quart, $trans_form_quart;
  }
  .role {
    li {
      font: {
        size: rem(24px);
        weight: var(--weight-regular);
      }
      &:after {
        content: "";
        display: block;
        width: rem(2px);
        height: rem(20px);
        margin: 0 rem(24px);
        transform: translateY(rem(2px));
        background: var(--proj-desc);
        transition: $trans_bgColor;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    transition: $trans_opacity_quart, $trans_form_quart;
  }
  .project-open-icon {
    width: rem(160px);
    height: rem(160px);
    top: rem(80px);
    right: rem(80px);
    transform: translate(-100%, 100%);
    opacity: 0;
    transition: $trans_form_expo, $trans_opacity_expo;
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    path {
      fill: var(--proj-border);
    }
    @media only screen and (max-width: 640px) {
      width: rem(120px);
      height: rem(120px);
    }
  }
  .hover-title {
    font: {
      size: rem(240px);
      weight: 700;
    }
    color: var(--proj-hover);
    line-height: rem(240px);
    text-decoration-thickness: 0.05em;
    top: 100%;
    transition: $trans_form_quart;
    span {
      margin-right: rem(80px);
      &:after {
        content: " ";
      }
    }
  }

  &.hover {
    background: var(--proj-bg-hover);
    .period {
      time {
        opacity: 0;
        &:first-child {
          transform: translateX(50%);
        }
        &:last-child {
          transform: translateX(-50%);
        }
      }
      span {
        &:after {
          width: 0;
          opacity: 0;
        }
      }
      // transform: translateY(-100%);
      // opacity: 0;
    }
    .summary-title,
    p,
    .role {
      transform: translateY(-150%);
      opacity: 0;
    }
    .project-open-icon {
      transform: translate(0, 0);
      opacity: 1;
      path {
        fill: var(--proj-hover);
      }
    }
    .hover-title {
      transform: translateY(-112%);
      span {
        animation: slideText 2s linear 0s infinite;
      }
    }
  }
  @keyframes slideText {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  &:active {
    background: var(--proj-bg-hover);
    .period {
      color: var(--proj-hover);
    }
    .summary-title,
    p,
    .role {
      color: var(--proj-hover);
    }
    .project-open-icon {
      transform: translate(0, 0);
      opacity: 1;
      path {
        fill: var(--proj-hover);
      }
    }
  }
}
