.page-transition-container {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:5000;
  .page-transition-box {
    width:0;
    height:50%;
    position:absolute;
    background: #2b6db8;
    transition:width 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .page-transition-upper {
    top:0;
    left:0;
  }
  .page-transition-lower {
    bottom:0;
    right:0;
  }
  
  .page-loading {
    width:100%;
    height:2px;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    .page-loading-gauge {
      width:0;
      height:100%;
      background: white;
      opacity:0;
      transition: width .1s, opacity .6s;
    }
    .page-loading-value {
      opacity:0;
      display:flex;
      align-items: center;
      padding-bottom:10px;
      position:absolute;
      bottom:0;
      left:50%;
      transform:translateX(-50%);  
      font-size:24px;
      font-weight:500;
      letter-spacing: 0;
      color:white;
      // -webkit-text-stroke: 1px white;
      white-space:nowrap;
      overflow:hidden;
      transition:opacity .1s;
      &:after {
        content:'%';
        font-size:.7em;
        margin-left:4px;
        margin-bottom:2px;
        align-self: flex-end;
      }
    }
  }

  .action-btn {
    position:absolute;
    top:40px;
    right:40px;
    padding:8px 16px;
    background: rgba(255,255,255,0.4);
    span {
      font-size:16px;
      color:navy;
      font-weight:700;
      line-height:16px;
    }
  }
  
  
  &.action {
    .page-transition-box {
      width:100%;
    }
    .page-transition-upper {
      left:auto;
      right:0;
    }
    .page-transition-lower {
      left:0;
      right:auto;
    }
  }


  &.counter {
    .page-loading-gauge {
      opacity:1;
    }
    .page-loading-value {
      opacity:1;
      transition:opacity .6s;
    }
  }
}


// .project-item {
//   width:calc(50% - 40px);
//   height:480px;
//   padding:64px;
//   border-radius:64px;
//   border:1px solid #5a5a5a;
//   background: #1f1f1f;
  
//   .project-item-inner {
//     width:100%;
//     height:100%;
//     overflow: hidden;
//   }

//   .project-header {
//     width:100%;
//     margin-bottom:24px;
//     margin-top:-64px;
//   }
//   .project-arrow {
//     width:64px;
//     height:64px;
//     position:relative;
//     .arrow-line {
//       display:block;
//       width:140%;
//       height:1px;
//       border-radius: 1px;
//       background: white;
//       transform:translate(-50%,-50%) rotate(-45deg);
//       position:absolute;
//       top:50%;
//       left:calc(50% - 1px);
//     }
//     &:before, &:after {
//       content:'';
//       display:block;
//       width:50%;
//       height:1px;
//       border-radius:1px;
//       background: white;
//       position:absolute;
//       top:0;
//       right:1px;
//       transform-origin: right;
//     }
//     &:after {
//       transform:rotate(-90deg);
//     }
//   }
//   .project-name {
//     font-size:40px;
//     font-weight:700;
//     color:#9a9a9a;
//     line-height:56px;
//   }
//   .project-contents {
//     flex:1;
//   }
//   .project-comment {
//     font-size:16px;
//     font-weight:400;
//     color:#707070;
//     line-height:24px;
//   }
//   .project-part {
//     font-size:16px;
//     font-weight:300;
//     color:#707070;
//     line-height:16px;
//   }
//   .project-period {
//     font-size:16px;
//     font-weight:400;
//     color:#707070;
//     line-height:16px;
//   }
//   .period-bar {
//     width:48px;
//     height:1px;
//     margin:0 16px;
//     background: #5a5a5a;
//   }

//   &:hover {
//     .project-header {
//       height:100%;
//       margin:0;
//       transition:all 0.3s;
//       display:flex;
//       flex-direction: column;
//       .project-name {
//         margin-top:auto;
//         transition:all 0.3s;
//       }
//     }
//     .project-contents {
//       flex:0;
//       height:0;
//     }
//   }
// }