# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
pnpm-lock.yaml
package-lock.json

# Local env files
.env*

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
dist-ssr
*.local


# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
# vite-env.d.ts

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

reference
certificates
*storybook.log
storybook-static



