html {
  font-size: 10px;
  @media only screen and (min-width: 580px) {
    font-size: 1.6vw;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 1.4vw;
  }
  @media only screen and (min-width: 1600px) {
    font-size: 1vw;
  }
}
