{
  "overrides": [
    {
      "files": "**/*.tsx",
      "options": {
        "singleAttributePeLline": false,
        "arrowParens": "avoid"
      }
    },
    {
      "files": "**/*.scss",
      "options": {
        "singleAttributePerLine": false,
        "proseWrap": "preserve",
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
