html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  width: 100%;
  min-height: 100%;
  overflow: visible;
}

.page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.pin-spacer {
  display: block !important;
  position: static !important;
  padding: 0 !important;
}
